# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Quarto
.quarto/
_freeze/

# Virtual environments
.venv/
env/
venv/

# Large raw data
data/raw/*
!data/raw/README.md

# Temporary files
*.tmp
*.log

/.quarto/
**/*.quarto_ipynb
