# macOS
.DS_Store

# Python
__pycache__/
*.pyc
.ipynb_checkpoints/

# Quarto
.quarto/
_freeze/

# Virtual environments
.venv/
env/
venv/

# Large raw data
data/raw/*
!data/raw/README.md

# Temporary files
*.tmp
*.log

/.quarto/
**/*.quarto_ipynb

# Keep the four raw Data_S4 files used in this project
!data/raw/Data_S4_four_crops/
!data/raw/Data_S4_four_crops/*.csv
!data/raw/paper_reported_totals_2020.csv
